<div class="container work-header">
 <h1>Work Samples</h1>
  <p>A SHOWCASE OF DEVELOPMENT,
    DESIGN, EXPERIMENTS AND MORE</p>
  </div>
<div class="container work-body">
  <div class="row">
    <div class="col-xs-6 col-centered col-md-4">
      <div class="work-item" ng-mouseover="mouseOver=true" ng-mouseleave="mouseOver=false">

        <h4 class="headline">Conservation Studio</h4>
        <a href="http://www.gallerysystems.com/products-and-services/conservation-studio/" target="_blank" class="thumbnail">
          <img class="work-image" src="images/work-samples/ConStud.jpg">
          <div class="description">
            <h4>Conservation Studio</h4>
            <span class="snippet">Conservation Studio is an easy-to-navigate, web-based toolset that consolidates and supports every aspect of your day-to-day activities..</span>
            <span class="link">View Project</span>
          </div>
        </a>
      </div>
    </div>
    <div class="col-xs-6 col-centered col-md-4">
      <div class="work-item" ng-mouseover="mouseOver=true" ng-mouseleave="mouseOver=false">

        <h4 class="headline">Photo Gallery</h4>
        <a target="_blank" href="http://shahzad31.github.io/flicker-demo-angular2/" class="thumbnail">
          <img class="work-image" src="images/work-samples/PhotoGallery.jpg">
          <div class="description">
            <h4>Photo Gallery</h4>
            <span class="snippet">Photo Gallery Using Flicker Public API, built entirely in angular2 using semantic UI.</span>
            <span class="link">View Project</span>
          </div>
        </a>
      </div>
    </div>
    <div class="col-xs-6 col-centered col-md-4">
      <div class="work-item" ng-mouseover="mouseOver=true" ng-mouseleave="mouseOver=false">

        <h4 class="headline">Photo Sticker Application</h4>
        <a href="#/photosticker" class="thumbnail">
          <img class="work-image" src="images/work-samples/PhotoStick.PNG">
          <div class="description">
            <h4>Photo Sticker Application</h4>
            <span class="snippet">Photo Sticker Application, now you can add stickers over place, move/resize them. Automatic state handling of app even after refresh. Add/remove sticker to collection.</span>
            <span class="link">View Project</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-centered col-md-4">
      <div class="work-item" ng-mouseover="mouseOver=true" ng-mouseleave="mouseOver=false">

        <h4 class="headline">ERP of Maps</h4>
        <a href="" class="thumbnail">
          <img class="work-image" src="images/work-samples/erp.jpg">
          <div class="description">
            <h4>Photo Sticker Application</h4>
            <span class="snippet">Enterprise web app, used for large scale mapping infrastructure.Built for govt organizations. Create/edit new maps/layers/streets/roads.</span>
            <span class="link">View Project</span>
          </div>
        </a>
      </div>
    </div>
    <div class="col-xs-6 col-centered col-md-4">
      <div class="work-item" ng-mouseover="mouseOver=true" ng-mouseleave="mouseOver=false">

        <h4 class="headline">MShahzad.com Portal</h4>
        <a href="" class="thumbnail">
          <img class="work-image" src="images/work-samples/mshahzad.png">
          <div class="description">
            <h4>mshahzad.com</h4>
            <span class="snippet">This website totally developed by me using angular js and bootstrap.</span>
            <span class="link">View Site</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  </div>
</div>
