<header class="resumeHeader" style="left: 0px;">
  <nav>
    <div class="navbar">
      <button>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <ul class="collapsed">
      <li>
        <a class="ajax about" href="#/about">
          <h3>About</h3>

          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="120px" height="15px" viewBox="-52.5 0 120 15" enable-background="new -52.5 0 120 15" xml:space="preserve" style="fill: rgb(0, 0, 0);">
					<path d="M13.79,5.677c0.763-0.763,0.996-1.854,0.703-2.818l-1.515,1.514L11.5,3.977L11.104,2.5l1.517-1.516
						c-0.966-0.293-2.056-0.06-2.819,0.704C9.038,2.452,8.925,3.423,9.295,4.314L7.718,5.888c-0.023-0.06-0.057-0.117-0.106-0.165
						L7.19,5.301c-0.182-0.181-0.474-0.181-0.655,0l-0.36,0.372L3.817,3.314L3.689,2.856L3.688,2.857
						c-0.013-0.096-0.056-0.188-0.13-0.262L1.493,1.093c-0.18-0.181-0.418-0.236-0.531-0.124l-0.52,0.52
						C0.331,1.602,0.386,1.839,0.566,2.02l1.502,2.064c0.074,0.073,0.167,0.117,0.262,0.13l0,0l0.452,0.082L5.16,6.674L4.775,7.062
						c-0.181,0.181-0.181,0.474,0,0.653l0.422,0.424c0.048,0.049,0.105,0.082,0.164,0.103l-3.587,3.583
						c-0.006,0.007-0.01,0.014-0.016,0.021l0,0c-0.521,0.521-0.521,1.363,0,1.885c0.519,0.519,1.358,0.52,1.878,0.004
						c0.01-0.008,0.019-0.014,0.028-0.021l3.249-3.263l3.351,3.354c0.448,0.445,1.172,0.445,1.62-0.002l1.384-1.383
						c0.445-0.447,0.445-1.173,0-1.619L9.91,7.443l1.254-1.259C12.055,6.553,13.025,6.441,13.79,5.677z M2.792,13.3
						c-0.227,0.087-0.479-0.028-0.564-0.258c-0.085-0.226,0.03-0.479,0.256-0.563c0.227-0.086,0.48,0.028,0.564,0.256
						C3.134,12.961,3.02,13.215,2.792,13.3z M5.675,5.917c-0.085,0.084-0.224,0.084-0.309,0l-4.317-4.32l0.14-0.14
						c0.057-0.059,0.179-0.03,0.273,0.063l1.814,1.525C3.314,3.084,3.336,3.13,3.343,3.18h0.001c0.007,0.063,0.033,0.122,0.075,0.173
						l2.254,2.253C5.76,5.693,5.76,5.832,5.675,5.917z M7.187,6.354L6.471,7.07L6.027,6.624l0.715-0.715c0.105-0.105,0.274-0.105,0.379,0
						l0.066,0.065C7.292,6.079,7.292,6.249,7.187,6.354z M12.867,11.27c0.203,0.205,0.203,0.539,0,0.744l-0.701,0.7L7.291,7.839
						C7.508,7.595,7.896,7.616,8.146,7.87l2.863,2.86c0.065,0.065,0.172,0.065,0.238,0c0.064-0.064,0.064-0.172,0-0.236L8.387,7.633
						C8.131,7.376,8.109,6.981,8.363,6.766L12.867,11.27z"></path>
					<line fill="none" stroke="#000000" x1="-42.5" y1="7.25" x2="-4.5" y2="7.25" style="stroke: rgb(0, 0, 0);"></line>
					<line fill="none" stroke="#000000" x1="19.5" y1="7.25" x2="57.5" y2="7.25" style="stroke: rgb(0, 0, 0);"></line>
					</svg>

          <span class="subtitle">The One And Only</span>
        </a>
      </li>

      <li>
        <a class="ajax work" href="#/work">
          <h3>Work</h3>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="120px" height="15px" viewBox="-52.5 0 120 15" enable-background="new -52.5 0 120 15" xml:space="preserve" style="fill: rgb(0, 0, 0);">
						<g><polygon points="4.182,13.166 4.182,13.35 4.182,13.604 10.818,13.604 10.818,13.35 10.818,13.166 10.818,12.91 4.182,12.91"></polygon><path d="M13.559,1.396H1.516c-0.45,0-0.816,0.326-0.816,0.776v8.777c0,0.449,0.366,0.918,0.816,0.918h3.609 c0.247,0.14,0.414,0.402,0.414,0.705c0,0.003-0.001,0.007-0.001,0.009h3.999c0-0.002-0.001-0.006-0.001-0.009 c0-0.303,0.167-0.565,0.413-0.705h3.609c0.449,0,0.742-0.469,0.742-0.918V2.172C14.301,1.722,14.008,1.396,13.559,1.396z M13.252,10.508h-0.514c-0.171,0-0.309-0.102-0.309-0.272c0-0.17,0.138-0.271,0.309-0.271h0.514c0.17,0,0.308,0.102,0.308,0.271 C13.56,10.406,13.422,10.508,13.252,10.508z M1.379,9.011V2.075h12.179l0.001,6.936H1.379z"></path></g>

						<line fill="none" stroke="#000000" x1="-42.5" y1="7.25" x2="-4.5" y2="7.25" style="stroke: rgb(0, 0, 0);"></line>
						<line fill="none" stroke="#000000" x1="19.5" y1="7.25" x2="57.5" y2="7.25" style="stroke: rgb(0, 0, 0);"></line>
					</svg>
          <span class="subtitle">View Case Studies</span>
        </a>
      </li>

      <li>
        <a class="ajax contact" href="#/contact">
          <h3>Contact</h3>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="120px" height="15px" viewBox="-52.5 0 120 15" enable-background="new -52.5 0 120 15" xml:space="preserve" style="fill: rgb(0, 0, 0);">
						<g class="phone">
							<path d="M1.758,2.944c0.002,0,3.081-0.771,5.741-0.771c2.659,0,5.74,0.771,5.743,0.771c1.134,0.261,1.84,1.392,1.578,2.525
								C14.629,6.3,13.972,6.9,13.188,7.06l-2.494-1.704c-0.048-0.269-0.042-0.551,0.023-0.834c0.038-0.165,0.095-0.321,0.167-0.467
								C9.944,3.955,8.741,3.862,7.5,3.862c-1.24,0-2.443,0.092-3.383,0.193c0.072,0.146,0.13,0.302,0.168,0.467
								c0.065,0.283,0.07,0.565,0.023,0.834L0.524,6.229c-0.16-0.221-0.279-0.477-0.344-0.76C-0.082,4.336,0.625,3.206,1.758,2.944z
								 M10.031,4.206c0.523,2.1,1.761,3.917,3.44,5.177v3.444H1.529V9.383c1.679-1.261,2.916-3.078,3.439-5.177
								c0.271-0.023,0.554-0.043,0.847-0.061v0.877h3.37V4.146C9.478,4.162,9.761,4.183,10.031,4.206z M10.102,8.49
								c0-1.436-1.164-2.601-2.602-2.601c-1.437,0-2.601,1.166-2.601,2.601c0,1.437,1.164,2.603,2.601,2.603
								C8.938,11.093,10.102,9.927,10.102,8.49z M9.185,8.49c0,0.931-0.754,1.686-1.685,1.686c-0.93,0-1.685-0.755-1.685-1.686
								c0-0.93,0.754-1.685,1.685-1.685C8.431,6.806,9.185,7.561,9.185,8.49z"></path>
						</g>

						<line fill="none" stroke="#000000" x1="-42.5" y1="7.25" x2="-4.5" y2="7.25" style="stroke: rgb(0, 0, 0);"></line>
						<line fill="none" stroke="#000000" x1="19.5" y1="7.25" x2="57.5" y2="7.25" style="stroke: rgb(0, 0, 0);"></line>
					</svg>
          <span class="subtitle">Let's get in touch</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="progress-bar"></div>
</header>

<div id="main" class="resume">
  <div class="wrapper" data-title="Resume | Michael Ngo | Front-end Developer">
    <div class="content">
      <div class="resumeContainer">
        <h1 class="heading">
          <span>M Shahzad</span>
          <span class="subtitle">me@mshahzad.com • +92-333-5388078</span>
          <span class="subtitle">Lahore, Punjab, Pakistan</span>
        </h1>

        <section class="row">
          <div class="col-xs-3">
            <h3>Profile</h3>
          </div>

          <div class="col-xs-8 border">
            <p>Though I've pretty diverse skill set, my expertise lies in front-end development.
              I have a passion for solving problems, constantly perfecting my craft, and producing work that
              I can be proud of. I'm currently open to any sort of opportunities, so if you're interested in hiring me,
              check out <a class="ajax" href="#/work">my work</a>, and let's <a class="ajax" href="#/contact">get in touch</a>.
            </p>
          </div>
        </section>

        <section class="row">
          <div class="col-xs-3">
            <h3>Work <br>Experience</h3>
          </div>

          <div class="col-xs-8 border">
            <div class="position">
              <h4>Gallery Systems <span class="subtitle">Front-End Developer | Aug 2014 - Present</span></h4>

              <p>Working on enterprise single page application, responsibilities included , creating flexible views, widgets, handling security and internationalization in application. Using html templates integrated with js to develop data entry form and modals.

                Working on advanced museum web applications , particularly large scale single page application using dojo toolkit,javascript,html,css. Following client side Model View Controller integrated to back-end with REST API's built in Java. Project http://www.gallerysystems.com/products-and-services/conservation-studio/ Technology Stack: JavaScript, html, css, Java, Sql Server, Webstorm, Eclipse</p>
            </div>

            <div class="position">
              <h4>Id Technologies<span class="subtitle">Web Developer | Jun 2013 - Jul 2014</span></h4>
              <p>Developed Enterprise web applications while working in idtechnologies working at front end as well as developed back end REST API's in php, projects include 1. Enterprise Resource Planning web application 2. Fleet Management System 3 GIS Asset Management System 4. ESDN Android Map Viewer/Editor/Uploader

                Languages i worked on while working in idtechnolgies Javascript, html, css, c# , Android, php, postgresql

                Tools i used PhpEd, Visual Studio, phpmyadmin, ArcGis Server, Linux(ubuntu + Redhat)

                Worked on latest web technologies Including Enterprise resource planning Geographic information system using google maps and open street maps server with ESRI software and tools in languages javascript ,php,c#,andriod, dojo</p>
            </div>

            <div class="position">
              <h4>MIEMS Labs <span class="subtitle">Computer Programmer | Jan 2012 - May 2013</span></h4>
              <p>Responsible for designing and developing the splash page of Futureshop.ca on a weekly basis. With over 300,000 daily hits, abided by a strict and thorough proofing process. Worked at length with art directors, business managers, and marketers to ensure peak sales of online products.</p>
            </div>

            <div class="position">
              <h4>Freelance + Consultancy Services <span class="subtitle">Wordpress Developer | Feb 2008 - Present</span></h4>
              <p>Worked on software module of MIEMS Lab’s project on Robocup Small Size League  Designed and developed an intelligent software agent to autonomously control multiple Omni-directional robots in a small size soccer field  Integrated software and hardware modules using Vision software provided by Robocup SSL federation and x-bee communication modules  Qualified and participated in Small Size League in Robocup 2013 Netherlands as a part of team Emenents</p>
            </div>
          </div>
        </section>

        <section class="row">
          <div class="col-xs-3">
            <h3>Education</h3>
          </div>

          <div class="col-xs-8 border">
            <div class="position">
              <h4>NUST Islamabad<span class="subtitle">B.E - Computer Engineering    2009 - 2013</span></h4>

              <p>Thorough understanding of computer programming/Operating systems with focus on algorithms implementation &amp; research in AI</p>
            </div>

            <div class="position">
              <h4>LUMS Lahore<span class="subtitle">MS - Computer Science  2013 - </span></h4>
              <p>Advance Operating Systems, Computer System Architecture</p>
            </div>
          </div>
        </section>

        <section class="technical row">
          <div class="col-xs-3">
            <h3>Technical <br>Expertise</h3>
          </div>

          <div class="col-xs-8">
            <div class="row border">
              <div class="col-xs-5 alpha">
                <h4>Professional Skillset</h4>
                <ul>
                  <li>Modular Javascript</li>
                  <li>W3C Validated HTML5</li>
                  <li>CSS3 via SASS &amp; Compass, LESS</li>
                  <li>Angular JS, Dojo Toolkit</li>
                  <li>jQuery, ajax, modernizr</li>
                  <li>Website optimization + cross browser capabilities</li>
                </ul>
              </div>

              <div class="col-xs-4 working-knowledge">
                <h4>Working Knowledge</h4>
                <ul>
                  <li>Grunt &amp; Gulp</li>
                  <li>Core PHP</li>
                </ul>
              </div>

              <div class="col-xs-3 omega">
                <h4>Tools</h4>
                <ul>
                  <li>Web Storm IDE</li>
                  <li>SublimeText 2</li>
                  <li>Github</li>
                  <li>Eclipse &amp; Netbeans</li>
                  <li>Stack Overflow</li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <section class="awards row">
          <div class="col-xs-3">
            <h3>Awards &amp; Recognition</h3>
          </div>

          <div class="col-xs-9">
            <ul>
              <li>Rector NUST Gold Medalist In Final Year Engineering Project(B.E)</li>
              <li>Participated in RoboCup International Small size league 2013,Netherland (Part of First ever team from South Asia) as Software Developer of Artificial Intelligent Server.</li>
              <li>Got Third Position in All Pakistan Computer Project Exhibition and Competition 2013 held at CEME NUST.</li>
              <li>Qualified for RoboCup Iran Open SSL 2013.</li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="cover" style="display: none;"></div>
